@import "tailwindcss";

/* Background to work with Safari */
/* _::-webkit-full-page-media, _:future, :root .panel {
  --background: #313131 !important;
  --foreground: #fff;
} */

/* Another way for background to work with Safari */
:root {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  --background: #313131;
  --foreground: #fff;
}

body {
  background: var(--background) !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-mq-darkgray: #1F1F1F;
  --color-mq-lightgray: #3A3A3A;
  --color-mq-lightblue: #6DBDFF;
}
